/* --- COLORS FROM YOUR QUICKSHELL CONFIG --- */
@define-color base      #d8d8d8;
@define-color shadow    #9b9b9b;
@define-color highlight #efefef;
@define-color urgent    #ff723e;
@define-color text      #000000;
@define-color outline   #000000;

@define-color battery_charge #03a90c;

* {
    border: none;
    border-radius: 0;
    font-family: "Monaco", "Terminus", "Courier Prime", monospace; 
    font-size: 12px;
    min-height: 0;
    color: @text;
}

window#waybar {
    background-color: @base;
    border-bottom: 1px solid @outline;
}

tooltip {
    background-color: @base;
    border: 1px solid @outline;
}

tooltip label {
    color: @text;
}


/* # WORKSPACES */

#workspaces {
    background-color: @shadow;
    border: 1px solid @outline; 
    
    margin: 3px 5px;
    padding: 1px 1px;
}

#workspaces button {
    margin: 2px 2px;
    padding: 2px 2px;
    background-color: transparent;
    color: @text;
    border: solid 1px;
    box-shadow: 1px 1px @outline;
}

#workspaces button.focused {
    background-color: @base;
}

#workspaces button.urgent {
    background-color: @urgent;
    color: @base;
}

#workspaces button:hover {
    background-color: @highlight;
}

/* # MODULES RIGHT */
.modules-right {
    background-color: @shadow;
    border: 1px solid @outline; 
    margin: 3px 5px;
    padding: 1px 10px;
}

/* apply margin to all elements of modules-right except last */
.modules-right > widget + widget > * {
  margin-left: 15px;
}

/* ## BATTERY */

#battery {
    color: @text;
}

#battery.charging, #battery.plugged {
}

#battery.warning:not(.charging) {
    color: @urgent;
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @urgent;
    }
}

/* ## BACKLIGHT */
#backlight {
    color: @text;
}

/* ## PULSEAUDIO */
#pulseaudio {
    color: @text;
    font-size: 16px;
}

#pulseaudio.muted {
    color: @urgent;
}

